*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;

}

.center{
    max-width: 1200px;
    margin: 0px auto;
}

.banner{
    background: url("../images/banner.jpg");
    height: 75vh;

}
.tagline{
    color:white;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    text-transform: uppercase;
    text-align:center;
    letter-spacing: 1px;

}
.small-text{
    font-size: small;
    text-transform:none;
}
.red-button{
    display: block;
    color: white;
    margin: 70px auto;
    background: red;
    border: none;
    padding: 10px;
    text-transform: uppercase;
}

.logo{
    float: left;
}
nav ul{
    float: right;
    color:white;
    list-style-type:none;
}

.feature{
    width: 30%;
    margin: 1%;
    display: inline-block;
}

nav ul li{
    display: inline;
    padding: 20px;
    font-size: larger;
}

.nav-bar:after{
    content: "";
    clear: both;
    display: block;

}

.line{
background-color: white;
    height: 1px;
    width:90%;
    margin-top: 10px;
}
.features{
    margin-top: 3%;
}

.feature h2, .feature p{
    text-align: center;
    padding: 5px;
}
.nav-bar{
 padding: 20px;
}

.images{
    margin-top: 3%;
}
.image{
    width: 25%;
    float: left;
}
.images::after{
    clear: both;
    content: "";
    display: inline-block;
}
.download-now{
    text-align: center;
    margin-top: 5%;
    word-spacing: 1px;
}

.download-now button{
    text-transform: uppercase;
}